@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   body {
    background-image: url("/public/images/weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   }
}